@font-face {
    font-family: 'TTLakes-Thin';
    src: url('TTLakes-Thin.woff') 
    }
* {
  margin: 0;
  padding: 0;
}
button {border: none;background-color: #ffffff;}

@media screen and (max-width: 767px) {

/* Шапка начало */

.header {
  display: flex;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #D9FFF5;
}
.header-left {
  width: 320px;
  display: flex;
  justify-content: space-around;
}
.header-right {display: none;}

/* Шапка конец */

 /* Основной блок начало*/

.main {
  height: 508px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Основной блок конец*/

/* Услуги и сервисы начало */

.titleall {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.title {display: flex;align-items: center;}
.highlight{margin-right: 10px;}
.header-rightside {display: none;}

/* Услуги и сервисы конец */

/* Блок НАВ начало */

.nav {
  display: block;
  unicode-bidi: isolate;
  max-width: 780vw;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

/* Блок НАВ конец */

/* Скролл список начало */

.slide {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: 'TTLakes-Thin' ,sans-serif;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  width: 77vw;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: block;
  color: #7E7E82;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;;
}
.active:nth-child(2n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
li:nth-of-type(1) {display: none;}   
li:nth-child(5n),
li:nth-child(7n) {display: none;}

/* Скролл список конец */

/* Блок infogroup начало */

.infogroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 322px;
}

/* Блок infogroup конец */

/* Блок first-block начало */

/* Блок first-block конец */

/* Блок textbox начало */

.textbox {
  width: 288px;
  height: 90px;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.textbox__content1,
.textbox__content2 {display: none;}

/* Блок textbox конец */

/* Блок readmoreblock начало */

.readmoreblock {
  display: flex;margin-top: 10px;font-size: 16px;font-family: 'TTLakes-Thin' ,sans-serif;font-weight: 500;}
/* Блок readmoreblock конец */
}

@media screen and (min-width: 768px) and (max-width: 1120px) {

  /* Шапка Планшет начало */

.header {
  display: flex;
  height: 80px; 
  background: #ffffff;
  border-bottom: 1px solid #D9FFF5;
  justify-content: space-between;
}
.header-left {
  width: 200px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}

.repairleft, .checkstatusleft {display: none;}
.burger {order: -2;}
.divider2 {order: -1;}

.header-right {
  width: 320px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}
/* Шапка Планшет конец */

/* Основной блок Планшет начало*/

.main {
  height: 416px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Основной блок Планшет конец*/

/* Услуги и сервисы Планшет начало */

.titleall {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.title {display: flex;align-items: center;}
.highlight{margin-right: 10px;}
.header-rightside {display: none;}

/* Услуги и сервисы Планшет конец */

/* Блок НАВ Планшет начало */

.nav {
  display: block;
  unicode-bidi: isolate;
  max-width: 1120vw;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

/* Блок НАВ Планшет конец */

/* Скролл список Планшет начало */

.slide {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: 'TTLakes-Thin' ,sans-serif;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: block;
  color: #7E7E82;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;;
}
.active:nth-child(2n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
li:nth-of-type(1) {display: none;}   
li:nth-child(5n),
li:nth-child(7n) {display: none;}

/* Скролл список Планшет конец */

/* Блок infogroup Планшет начало */

.infogroup {
  display: grid;
  align-items: start;
  justify-content: space-around;
  margin-left: 5px;
  width: 720px;
  height: 208px;
  grid-template-areas: "first-block foto"
                        "first-block foto";
}

/* Блок infogroup Планшет конец */

/* Блок first-block начало */

.first-block {
  display: grid;
  place-content: start;
}

/* Блок first-block конец */

/* Блок textbox Планшет начало */

.textbox {
  width: 312px;
  height: 160px;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.textbox__content2 {display: none;}

/* Блок textbox Планшет конец */

/* Блок readmoreblock Планшет начало */

.readmoreblock {
  display: flex;font-size: 16px;font-family: 'TTLakes-Thin' ,sans-serif;font-weight: 500;}
  
/* Блок readmoreblock Планшет конец */

/* foto Планшет начало */

.copy {
  width: 360px;
  height: 208px;
  border-radius: 10px;
}

/* foto Планшет начало */

}

@media screen and (min-width: 1121px) {

.header, .burger, .logo, .divider2, .repairleft, .checkstatusleft, .call, .chat, .profile, .divider, .repair, .checkstatus{display: none;}

/* Основной блок Десктоп начало*/

.main {
  height: 535px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Основной блок Десктоп конец*/

/* Услуги и сервисы Десктоп начало */

.titleall {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.title {display: flex;align-items: center;}
.highlight{margin-right: 10px;}

.header-rightside {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
  height: 40px;
}
.repairright, .checkstatusright {
   background-color: #f8f8f8;
   font-family: 'TTLakes-Thin' ,sans-serif;
   font-size: 14px;
   font-weight: 600;
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: space-between;}

/* Услуги и сервисы Десктоп конец */
}